[Unit]
Description=Vk Bot
After=network.target

[Service]
User=salty
Group=salty

WorkingDirectory=/home/salty/BotIk/
Environment="PYTHONPATH=/home/salty/BotIk/"
ExecStart=/home/salty/BotIk/.venv/bin/python /home/salty/BotIk/vkbot2.0.py

[Install]
WantedBy=multi-user.target
